<div class="jumbotron text-center"  ng-if="!main.loggedIn">
	<h1>Sinca CRM</h1>

	<div>
		<p>Por favor autentificate para acceder.</p>
		<a href="/login" class="btn btn-primary">Login</a>
	</div>


</div>

<div ng-if="main.loggedIn">

<div class="mainIzq col-sm-6">
	<div class="calendarioEventosMain " style="max-height:60vh;overflow:auto; ">		
			<table class="col-lg-12 col-md-12 col-xs-12 col-sm-12 table-bordered" id="eventosEventoMain" ng-controller="eventoController as eventos"> 
				
				<thead>
					<tr><th colspan="5">CALENDARIO DE EVENTOS</th>	</tr>
				<tr>
					<th> Titulo</th>
					<th> Fecha </th>
					
	
					<th class="col-sm-2">Acciones</th>
				</tr>
			</thead>
			<tbody  style="padding:0;">			
				<tr class="eventosEvento" ng-repeat="cita in eventos.evento  | orderBy: 'fecha' " ng-if="cita.fecha ? this: cita.fecha='2099-10-19T06:46:00+00:00';">
					<td>{{cita.nombre}}</td>
					<td ng-if="cita.fecha=='2099-10-19T06:46:00+00:00' ? cita.fecha='Sin fecha':this;">{{(cita.fecha | date: 'dd/MM/yyyy')}}</td>
					
					<!--td>{{cita.descripcion}}</td-->
				
					<td><a href="#" ng-click="eventos.deleteEvento(cita._id)" class="btn btn-danger btn-sm ">Borrar</a></td>
				</tr>
				</tbody>
			</table>

	</div>
	<a class="btn btn-sm btn-block btn-default" href="/eventos">Crear nuevo evento</a>	
	</div>
</div>

