<div class="jumbotron text-center"  ng-if="!main.loggedIn">
	<h1>Sinca CRM</h1>

	<div>
		<p>Por favor autentificate para acceder.</p>
		<a href="/login" class="btn btn-primary">Login</a>
	</div>


</div>

<div ng-if="main.loggedIn">
	<div class="col-lg-12">		
			<table class="col-lg-12 col-md-12 col-xs-12 col-sm-12 table-bordered" id="eventosEventoMain" ng-controller="eventoController as eventos"> 
				<th colspan="5">CALENDARIO DE EVENTOS</th>				
				<tr class="eventosEvento" ng-repeat="cita in eventos.evento | orderBy: nombre">			

					<td>{{cita.nombre}}</td>
					<td>{{cita.fecha | date: 'dd/MM/yyyy'}}</td>
					<!--td>{{cita.descripcion}}</td-->
					<td>{{cita.datos}}</td>
				
					<td><a href="#" ng-click="eventos.deleteEvento(cita._id)" class="btn btn-danger btn-sm ">Borrar</a></td>
				</tr>
			</table>		
	</div>
	
</div>

