<form class="form-horizontal" ng-submit="evento.saveEvento()">

	<div class="form-group">
		<label class="col-sm-2 control-label">Titulo</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="evento.eventoData.nombre">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">fecha</label>
		<div class="col-sm-6">
			<input type="date" class="form-control" ng-model="evento.eventoData.fecha">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">datos de contacto</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="evento.eventoData.datos">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Empresa relacionada</label>
		<div class="col-sm-6" ng-controller="empresaController as empresa">
			<select  class="form-control" ng-model="evento.eventoData.empresaID" ng-options="ciss.nombre for ciss in empresa.empresas track by ciss._id" >
			
			</select>
		
		</div>

	</div>

<!-- PROBANDO NESTED ARRAYS >
	<div class="form-group">
		<label class="col-sm-2 control-label">probando name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control"  ng-model="evento.eventoData.probandoname">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">probando surname</label>
		<div class="col-sm-6">
			<input type="text" class="form-control"  ng-model="evento.eventoData.probandosurname">
		</div>
	</div>


	< PROBANDO NESTED ARRAYS -->
	<div class="form-group">
		<label class="col-sm-2 control-label">descripcion</label>
		<div class="col-sm-6">
			<textarea class="form-control" ng-model="evento.eventoData.descripcion"></textarea>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">tipo</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="evento.eventoData.tipo">
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
			<button ng-href="/" ng-if="!evento.empresaIDFixed.empresa_id" type="submit" class="btn btn-success btn-lg btn-block" >Crear evento</button>
			<button ng-href="/empresas/ver/{{evento.empresaIDFixed.empresa_id}}" ng-if="evento.empresaIDFixed.empresa_id" type="submit" class="btn btn-success btn-lg btn-block" >Crear evento</button>
		</div>
	</div>

</form>

<div class="row show-hide-message" ng-show="user.message">
	<div class="col-sm-6 col-sm-offset-2">
		
		<div class="alert alert-info">
			{{ user.message }}
		</div>

	</div>
</div>
