<div ng-if="!proyecto.type">

	<div class="page-header"><h1 class="text-center">Crear nuevo proyecto.</h1></div>
	<form class="form-horizontal" ng-submit="empresa.saveProyecto()">
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Nombre</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" ng-model="empresa.empresaData.nombreP">
			</div>
		
			<label class="col-sm-2 control-label">fecha</label>
			<div class="col-sm-4">
				<input type="date" class="form-control" ng-model="empresa.empresaData.fechaP">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">descripcion</label>
			<div class="col-sm-4">
				<textarea class="form-control" ng-model="empresa.empresaData.descripcionP"></textarea>
			</div>
		
			<label class="col-sm-2 control-label">empresa</label>
			<div class="col-sm-4" >
				<select  class="form-control" ng-model="empresa.empresaData.empresaID" ng-options="ciss.nombre for ciss in empresa.empresas track by ciss._id" >
				
				</select>
			
			</div>

		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Añadir documento</label>
			<div class="col-sm-4" ><input type="file" ng-model="empresa.empresaData.documetoP" class="form-control"></div>
			<div class="col-sm-4 col-sm-offset-2 jumbotron">Lista de archivos subidos</div>
		</div>


		
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-4">			
				<button type="submit" class="btn btn-success btn-lg btn-block" >Crear proyecto</button>
			</div>
		</div>

	</form>

	<div class="row show-hide-message" ng-show="user.message">
		<div class="col-sm-6 col-sm-offset-2">
			
			<div class="alert alert-info">
				{{ user.message }}
			</div>

		</div>
	</div>
</div>
<div ng-if="proyecto.type=='Ver'">
	<div class="col-xs-12 jumbotron" > 
		<!--div  ng-repeat="proyectosS in empresas.proyectos " ng-show="proyectosS._id == proyecto.empresaSeleccionada" ng-init="proyectosS._id == proyecto.empresaSeleccionada ? mostrarPanel = true: mostrarPanel=false;">
			
		</div-->
		Empresa Seleccionada
		<li ng-repeat='(key, value) in proyecto.empresas'>
			    {{key}} : {{value}}
			</li><br>
			Proyecto concreto
		<li ng-repeat='(key, value) in proyecto.proyectoSelec'>
			    {{key}} : {{value}}
		</li>

	</div>
	<div class="jumbotron col-xs-12" style="border:1px solid red; margin-bottom:1%;">
		
			Archivos de proyectos para ver automaticamente
		
	</div>

</div>