<h1>
	Empresas 
	<a href="/empresas/create" class="btn btn-default">
		<span class="glyphicon glyphicon-plus"></span> 
		Nueva empresa.
	</a>
</h1>

<div class="jumbotron text-center" ng-show="empresa.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Cargando Empresas...</p>
</div>
<div class="leftcol col-xs-12" id="empresasMain">

	<div id="empresasBuscador" class="col-xs-12" style="margin:10px auto;">
		<span class="col-xs-2">
			<i class="fa fa-search"></i> Buscador:  <input type="text" ng-model='search' class="col-xs-12 buscadorEmpresasInput"/>
		</span>

	</div>
	
	<div id="listaEmpresas" class="col-xs-12">
		
		<table class="table table-condensed table-bordered" ng-show="empresa.empresas" ng-init="ordenacion = 'nombre'">
			<thead>
				<tr>
					<th><i class="fa fa-arrow-circle-down" ng-click="ordenacion = 'nombre'"></i> Nombre</th>
					<th><i class="fa fa-arrow-circle-down" ng-click="ordenacion = 'estado'"></i> Relacion </th>
					<th><i class="fa fa-arrow-circle-down" ng-click="ordenacion = 'nombreC1'"></i> Contacto</th>
					<th><i class="fa fa-arrow-circle-down" ng-click="ordenacion = 'telefonoC1'"></i> Telefono </th>
					<th><i class="fa fa-arrow-circle-down" ng-click="ordenacion = 'emailC1'"></i> Email</th>
					<th><i class="fa fa-arrow-circle-down" ng-click="ordenacion = 'actividad'"></i> Tipo de servicio</th>
					
				
					<th class="col-sm-2">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="buss in empresa.empresas | orderBy : ordenacion | filter:search " ng-class="buss.estado=='cliente' ? 'success' :  buss.estado=='potencial' ?  'info':'';">
					<td>{{ buss.nombre | capitalize }}</td>
					<td>{{ buss.estado | capitalize }}</td>
					<td>{{ buss.nombreC1 | capitalize}}<hr ng-if="buss.nombreC2">{{ buss.nombreC2 | capitalize}}</td>
					<td>{{ buss.telefonoC1  }}<hr ng-if="buss.telefonoC2">{{buss.telefonoC2 }}</td>
					<td>{{ buss.emailC1 | lowercase}}<hr ng-if="buss.emailC2">{{ buss.emailC2 | lowercase}}</td>
					<td>{{ buss.actividad | capitalize}}</td>
					<td>
						<a ng-href="/empresas/{{ buss._id }}" class="btn btn-default btn-sm col-xs-12">Detalles</a><br><br>
						<a href="#"  ng-confirm-click="¿Deseas borrar esta empresa permanentemente?" ng-click="empresa.deleteEmpresa(buss._id)"  class="btn btn-default btn-sm btn-danger col-xs-12">Borrar</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
<!--div class="rightCol col-sm-4 col-xs-12" id="empresasLateral">
	
	<div id="empresasFiltros" class="col-xs-12">
		<ul class="list-unstyled">
			<li><label><input type="checkbox"> Lorem ipsum dolor</label></li>
			<li><label><input type="checkbox"> tempor incididunt ut</label></li>
			<li><label><input type="checkbox"> quis nostrud exercitation</label></li>
			<li><label><input type="checkbox"> consequat. Duis</label></li>
			<li><label><input type="checkbox"> cillum dolore eu</label></li>
			<li><label><input type="checkbox"> proident, sunt</label></li>
		</ul>
	</div>
</div-->



